.footer_outer_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(49, 42, 42);
  color: aliceblue;
  font-size: 14px;
}
.footer_container > div {
  margin: 10px auto;
}
.footer_container {
  width: 70%;
  margin: auto;
}
.footer_icons > * {
  margin-right: 5px;
  cursor: pointer;
}
.footer_data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_data li {
  margin-bottom: 5px;
}
.footer_service span {
  padding: 0 2px;
  border: 1px solid;
}
